## Visual Studio 生成的文件和目录
.vs/

[Bb]in/
[Oo]bj/
*.user
*.suo
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb

## 编译结果
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.bsc
*.idb
*.tlog
*.log
*.obj
*.res
*.sbr
